<!DOCTYPE html>

<html>
  <head>
      <title>About Page</title>
      <link rel="icon" href="/img/HTML.jpg">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This is a weather app that shows weather of location based on user input by fetching coordinates using mapbox and weather using weatherstack.</p>
      <img class="portrait" src="/img/HTML.jpg" />
    </div>

    {{>footer}}
  </body>
</html>
